include header

.container
    
    h1 Login
    if error
      p(style="color:red")= error

    p Code sent to #{email}
    form(action='/verify' method='POST')
        div
            input(type='hidden' name='email' value=`${email}`)
        div
            input(type='text' name='code' placeholder='Enter code' required='')
        div
            button(type='submit') Login
